<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="navbar">📝 Register</div>
<a href="/" class="btn">⬅️ Back to Home</a>

<div class="container">
    <h2>Create Account</h2>

    <input placeholder="Username">
    <input placeholder="Email">
    <input type="password" placeholder="Password">

    <div class="buttons">
        <button class="btn">Register</button>
    </div>
</div>

</body>
</html>